{% extends "base.html" %}

{% block title %}
    회원 상세정보
{% endblock %}

{% block main %}
    <article class="main flex-item contents-container">
        <div class="mt-10">
            <div class="object-container">
                <h2>회원 상세정보</h2>
                <hr class="hr-bold">
                <div class="uk-margin" id="errorTag"><!--js에서 넘어온 오류 메시지를 넣는다.--></div>
                <div>id: {{ current_user.id }}</div>
                <div>username: {{ current_user.username }}</div>
                <div>email: {{ current_user.email }}</div>
                <!--div class="menu-item"><a href="apis/accounts/{{ current_user.id }}">회원 탈퇴</a></div-->
                <input type="hidden" id="user_id" name="user_id" value="{{ current_user.id }}">
                <div class="menu-item"><a href="#" id="withDrawBtn">회원 탈퇴</a></div>
                {% if current_user.img_path %}
                    <img src="{{ MEDIA_URL }}/{{ current_user.img_path }}" style="width: 100%" alt="Profile Image">
                {% else %}
                    <img src="{{ MEDIA_URL }}/default/blog_default.png" style="width: 100%" alt="Profile Image">
                {% endif %}

                <script type="module" src="{{ STATIC_URL }}/statics/js/custom/accounts/withdraw.js"></script>
            </div>
        </div>
    </article>
    </div>
{% endblock %}