.form-container.article-container,
.object-container {padding: 0 12px !important;}
.object-content.ql-editor {padding: 0 !important;}


.form-container.login-container, .form-container.register-container {
    max-width: 600px;
    margin: 40px auto;
    border: solid 1px #ced6e0;
    border-radius: 5px;
    padding: 20px 30px;}

form button {border: #30336b; border-radius: 3px;
    width: 100%; height: 45px; background-color: #6A626B; color: white; font-weight: 500; font-size: 20px; cursor: pointer;}

form button:hover {background-color: #615463;}

/*에디터의 버튼 스타일 시작*/
.cancel-submit {
    display: flex;
    justify-content: right;
    gap: 30px;
    border: 1px solid #ccc;
    padding: 10px;
    border-top: none;
    align-items: center;
    height: 20px;
}

.cancel-submit .cancel {cursor: pointer;}
.cancel-submit .cancel:hover {color: #b33939;}

.cancel-submit button {
    border: none;
    width: auto;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    height: auto !important;
}
.cancel-submit button:hover {
    background-color: #fff;
    color: #b33939;
    font-size: 16px;
    font-weight: 400;
} /*에디터에 붙은 버튼 스타일 끝*/

.hr-bold {border: 0;
    margin-bottom: 25px;
    height: 2px;
    background: #dfe6e9;}

#errorTag {
    display: none;
    border: 1px solid mistyrose;
    background: #fff5f7;
    padding: 12px;
    border-radius: 8px;
    color: #a00;
    margin-bottom: 10px;
}








