<article class="flex-item lt-container">
    <div class="side-item">
        <div class="inner">
            <div><a href="https://vclock.kr/time/" target="_blank">현재 시간</a></div>

            <div>로딩 한국 시간: {{ now_time }}</div>
            <div style="overflow-wrap: break-word">로딩 UTC 시간: {{ now_time_utc }}</div>
        </div>
    </div>
    <div class="side-item">
        <div class="inner">
            <div><strong>참고사이트</strong></div>
            <hr>

            <div class="menu-item"><a href="https://inf.run/zy8BF" target="_blank">FastAPI 완벽 가이드</a></div>
            <div class="menu-item"><a href="https://inf.run/PRgqv" target="_blank">
                FastAPI 실전편: JWT와 Redis로 완성하는 인증 시스템</a></div>
            <div><a href="https://inf.run/xZHr7" target="_blank">작정하고 장고! 배포(도커)까지</a></div>
            <div class="menu-item"><a href="https://inf.run/gk8qb" target="_blank">도커와 최신 서버 기술</a></div>
            <hr>

            <div class="menu-item"><a href="https://studiomeal.com/archives/197" target="_blank">CSS Flex를 익혀보자!</a></div>
            <div class="menu-item"><a href="https://www.freecodecamp.org/korean/news/javascripteseo-gajang-jal-alryeojin-http-yoceong-bangbeob-2/" target="_blank">
                JavaScript의 HTTP요청 방법</a></div>
            <div><a href="https://mangkyu.tistory.com/146" target="_blank">HTTP 상태 401 vs 403 차이</a></div>
            <hr>

            <div class="menu-item"><a href="https://icon-icons.com/ko/" target="_blank">무료 아이콘 추천</a></div>
            <div><a href="https://flatuicolors.com/" target="_blank">RGB COLOR</a></div>
            <div><a href="https://imagecolorpicker.com/" target="_blank">색상 뽑아내기</a></div>
            <div><a href="http://www.hipenpal.com/tool/html-color-charts-rgb-color-table-in-korean.php" target="_blank"> RGB색상코드표팔레트</a></div>
            <hr>

            <div><a href="https://jindevelopetravel0919.tistory.com/391" target="_blank">Docker 환경 Redis 설치</a></div>
            <div>
                <a href="https://engineeringcode.tistory.com/entry/%EC%9C%88%EB%8F%84%EC%9A%B0-11-%EB%A0%88%EB%94%94%EC%8A%A4Redis%EB%A5%BC-%EB%8F%84%EC%BB%A4%EB%A1%9C-%EC%84%A4%EC%B9%98%ED%95%98%EB%8A%94-%EB%B0%A9%EB%B2%95"
                   target="_blank">[윈도우 11] Redis를 도커로 설치</a></div>
            <hr>

            <div class="menu-item"><a href="https://developer.mozilla.org/ko/docs/Web/CSS/Layout_cookbook/Center_an_element" target="_blank">MDN</a></div>
            <div><a href="https://fastapi.tiangolo.com/advanced/templates/" target="_blank">FASTapi Jinja2Templates</a></div>
            <div><a href="https://www.starlette.io/templates/" target="_blank">Starlette Templates</a></div>
            <div><a href="https://www.fastapitutorial.com/blog/fastapi-hello-world/" target="_blank">FASTapi 공식 튜토리얼</a></div>
            <div><a href="https://coding-shop.tistory.com/403" target="_blank">Pydantic Field 데이터 검증</a></div>
            <div><a href="https://chaechae.life/blog/fastapi-permissions" target="_blank">FastAPI permissions 구현하기</a></div>
            <div><a href="https://dev.to/fastapitutorial/serving-html-with-fastapi-2b0p" target="_blank">Serving HTML with FastAPI</a></div>
            <div><a href="https://wikidocs.net/175875#svelte" target="_blank">점프 투 FastAPI: Svelte로 웹 개발</a></div>
            <div>
                <a href="https://mattpy.tistory.com/entry/FastAPIPython%EA%B3%BC-Svelte%EB%A1%9C-%EB%AC%B4%EC%9E%91%EC%A0%95-%EC%9B%B9-%EA%B0%9C%EB%B0%9C%ED%95%98%EA%B8%B0%EA%B8%B0%EC%B4%88-2?category=835392"
                   target="_blank">
                    FastAPI과 Svelte로 웹 개발
                </a></div>

        </div>
    </div>
</article>